customtkinter
packaging
pillow
pyaudio
moviepy
requests
torch
tqdm
modelscope
numpy
openai-whisper
basicsr
beautifulsoup4
opencv-python
facenet_pytorch
g2p-en
gfpgan
jieba
opencc
ffmpeg
srt
transformers
soundfile
yacs
pypinyin
pypinyin_dict
kornia
pydub
librosa
datasets
oss2
shapely
simplejson
sortedcontainers
timm
nltk
sentencepiece
